@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Patua+One');

// Site-wide fonts + colors

$plain-font: 'Montserrat';
$nice-font: 'Patua One';

$primary: rgb(255, 117, 24);
$contrast: rgb(255, 255, 255);
$red: #f03d3d;
$easy-read: rgb(0, 0, 0);

// Bootstrap variables
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// DEBUG 
.red {
    background: red;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.yellow {
    background: yellow;
}
.purple {
    background: purple;
}

// Universal selectors 
.row {
  padding-right: 0px;
  margin-right: 0px;
}

// Useful selectors
// Text effects
.white-text {
    color: $contrast;
}
.black-text {
    color: black;
}
.primary-col {
    color: $primary;
}
.nice {
    font-family: $nice-font;
}
.oomph {
    font-weight: bold;
}
.center-h {
    width: 100%;
    text-align: center;
}
.right-text {
    text-align: right;
    margin-right: 3%;
}
.easy-read {
	background-color: $easy-read !important;
	text-shadow: none !important;
	-moz-box-shadow: 0 0 16px $easy-read !important;
	-webkit-box-shadow: 0 0 16px $easy-read !important;
	box-shadow: 0 0 16px $easy-read !important;
}
.auto-scale {
    font-size: 6vw;
    font-family: $plain-font;
    line-height: 1.428;

    @media screen and (max-width: 650px) {
		font-size: 8vw;
	}
}
@mixin scale-config ($breakpoint, $large-screen, $small-screen)
{
    @extend .auto-scale;
    font-size: $large-screen !important;
    font-family: $plain-font;

    @media screen and (max-width: $breakpoint) {
		font-size: $small-screen !important;
	}
}
.quote {
    @include scale-config(650px, 4vw, 6vw);
    font-family: $nice-font;
}

// General div styling
.layover {
	position: absolute;
	bottom: 0%;
	top: 0%;
	width: 50%;
	z-index: 20;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	text-align: left;
	color: $primary;
}
.left-info {
    width: 70%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 7%;
    @extend .auto-scale;
    color: black;
    font-size: 4.5vw;
    font-family: $plain-font;
    text-align: left !important;

    @media screen and (max-width: 991px) {
		margin-left: 15%;
        margin-right: 5%;
        width: 70%;
        font-size: 5.5vw;
	}
}
.right-info {
    width: 70%;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 11%;
    @extend .auto-scale;
    color: black;
    text-align: right;
}

// Miscellaneous
.top {
    padding-top: 60px;
}
.img-strip {
    width: 100%;
    margin: 4% 0;
    -moz-box-shadow: 2px 3px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 3px 3px rgba(0,0,0,.5);
    box-shadow: 2px 3px 3px rgba(0,0,0,.5);
}
.shadowed {
    -moz-box-shadow: 2px 3px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 3px 3px rgba(0,0,0,.5);
    box-shadow: 2px 3px 3px rgba(0,0,0,.5);
}
.full-width {
    width: 100%;
    padding: 0;
    margin: 0;
}
.side-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        display: inline-block;
    }
}
a.no-line:hover {
    text-decoration: none;
}