@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Patua+One');

// App-wide selectors
#navbar {
}

// Site-wide fonts + colors

$plain-font: 'Montserrat';
$nice-font: 'Patua One';

$primary: rgb(255, 117, 24);
$contrast: rgb(255, 255, 255);
$red: #f03d3d;
$easy-read: rgba(0, 0, 0, 0.5);

// Bootstrap variables
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Useful selectors
.white-text {
    color: $contrast;
}

.nice {
    font-family: $nice-font;
}

.oomph {
    font-weight: bold;
}

.black-text {
    color: black;
}

.primary-col {
    color: $primary;
}

.easy-read {
	background-color: $easy-read !important;
	text-shadow: none !important;
	-moz-box-shadow: 0 0 16px $easy-read !important;
	-webkit-box-shadow: 0 0 16px $easy-read !important;
	box-shadow: 0 0 16px $easy-read !important;
}

.red {
    background: red;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.yellow {
    background: yellow;
}
.purple {
    background: purple;
}

.side-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        display: inline-block;
    }
}

a.no-line:hover {
    text-decoration: none;
}

