@import 'globals';

.fa {
    font-size: 4vw;

    @media screen and (max-width: 991px) {
        font-size: 5vw;
    }
    @media screen and (max-width: 767px) {
        font-size: 6vw;
    }
    @media screen and (max-width: 575px) {
        font-size: 7vw;
    }
    @media screen and (max-width: 393px) {
        font-size: 8vw;
    }
    @media screen and (max-width: 300px) {
        font-size: 9vw;
    }
}