@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Cabin|Montserrat:400,700|Patua+One');
@import 'globals';

// Mixins

@mixin full-width () {
    width: 100%;
}

// Rules

footer {
    background-color: $primary;
}

#footer-div {
    margin: auto;
    width: 50%;
}

#logo-nav {
    float: none;
    display: block;
    margin: auto;
    width: fit-content;
}

ul.white-text {
    list-style-type: none;
    color: $contrast;

    li {
        a {
            color: $contrast;
        }
    }
}

#footer-logo {
    display: block;
    float: left;
    width: 35%;
    min-width: 220px;
    max-width: 275px;
    padding: 20px 15px;    
}

#footer-nav {
    float: left;
    margin: auto;
    width: fit-content;
    padding-left: 5%;

    #footer-links {
        float: left;
        padding: 30px 0 20px 30px;
        font-family: $nice-font;

        li {
            display: block;
        }  
    }
}

#socials-div {
    margin: auto;
    width: 50%;
    padding: 0;
}

#social-info {
    margin: auto;
    width: fit-content;
    padding-bottom: 8%;
}

#social-icons {
    margin: auto;
    width: 100%;
    padding: 0;
}

#socials-list {
    display: inline-block;
    margin-top: 15%;
    padding: 0;
    
    li {
        a {
            text-align: center;
        }
    }
}

span.icon {
    color: $contrast;
    margin-right: 5%;
}

#social-text {
    margin: auto;
    margin-top: 5%;
    width: 100%;
    text-align: center;
    color: $contrast;
}

// Breakpoint for stacking divs
@media screen and (max-width: 758px) {
    #footer-div {
        @include full-width();
    }

    #footer-links {
        margin: 0 -10px;
    }

    #socials-div {
        @include full-width();
    }
}