@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Cabin|Montserrat:400,700|Patua+One');
@import 'globals';

#real-footer {
    width: 100% !important;
    background-color: $primary;
    padding-bottom: 1%;
    margin: 0 !important;
}

// Logo and links 

#logo-div {
    margin-bottom: 2%;
}

#logo-nav {
    margin-left: 10%;
    margin-top: 7%;
    width: fit-content;

    #footer-logo {
        float: left;
        margin: auto;
        margin-right: 5%;
        width: 40%;

        @media screen and (max-width: 1100px) {
            width: 47%;
        }

        @media screen and (max-width: 767px) {
            width: 35%;
        }
        @media screen and (max-width: 600px) {
            width: 41%;
        }
    }

    #footer-nav {
        margin: auto;
        padding-left: 28%;
        width: fit-content;
        list-style-type: none;
        font-family: $nice-font;

        @media screen and (max-width: 1100px) {
            padding-left: 40%;
        }

        li {
            padding: 2%;

            a {
                font-size: 3vw;
                color: $contrast;

                @media screen and (max-width: 1100px) {
                    font-size: 3.8vw;
                }
                @media screen and (max-width: 767px) {
                    font-size: 5vw;
                }
                @media screen and (max-width: 600px) {
                    font-size: 6.5vw;
                }
            }
        }
    }
}

// Socials

#socials-div {
    margin-top: 5%;    
    margin-bottom: 4%;

    @media screen and (max-width: 767px) {
        margin-left: 10%;
    }
    @media screen and (max-width: 575px) {
        margin-left: 3%;
        margin-top: 7%;
        margin-bottom: 8%;
    }
}