/* Scss Document */
@import 'globals'; 
/*
// Hides scroll bar
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  //remove scrollbar space 
    background: transparent;  // optional: just make scrollbar invisible
}
/* optional: show position indicator in blue
::-webkit-scrollbar-thumb {
    background: blue;
}
*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

// MOBILE config
@media screen and (max-width: 767px) {
	@mixin fix-margin-top($margin) {
		margin-top: $margin !important;
	}
	// To extend
	.mobile-cap {
		font-size: 10vw !important;
	}
	.mobile-p {
		font-size: 3vw !important;
	}

	#my-carousel {
		display: none !important;
	}

	#mobile-carousel {
		display: block !important;
	}

	#mobile-div-1, #mobile-div-2, #mobile-div-3 {
		position: relative;
	}

	.mobile-img {
		width: 100%;
	}

	.mobile.cap-1 {
		@extend .mobile-cap;
		margin-top: 3% !important;
		margin-left: 15% !important;
	}
	.mobile.p-1 {
		@extend .mobile-p;
		margin-left: 15% !important;
	}

	.mobile.cap-2 {
		@extend .mobile-cap;
		margin-top: 7% !important; 
		width: 200% !important;
		font-size: 9vw !important;
	}
	.mobile.p-2 {
		@extend .mobile-p;
		width: 100% !important;
	}

	.mobile.info-3 {
		width: 65%;
	}
	.mobile.cap-3 {
		@extend .mobile-cap;
		margin-top: 4% !important;
		margin-left: 15% !important;
		font-size: 9vw !important;
	}
	.mobile.p-3 {
		@extend .mobile-p;
		margin-left: 15% !important;
	}
}

// Carousel

#my-carousel {
	display: block;	
	padding-top: 60px;
}

#mobile-carousel {
	display: none;
	padding-top: 60px;
}

.carousel-logo {
	position: absolute;
	right: 13%;
	bottom: 15%;
	width: 20%;
}

.carousel-indicators {
	position: absolute;
	bottom: -2% !important;
}

.carousel-control {
	width: 8%;
}

// To extend
.carousel-cap {
	position: relative;
	float: left;
	color: $primary;
	font-size: 6.5vw;
}
.carousel-p {
	position: relative;
	float: left;
	color: $contrast;
	font-size: 2vw;
}

.info-1 {
	@extend .layover;
	left: 0%;
	right: 50%;

	.cap-1 {
		@extend .carousel-cap;
		width: 100%;
		margin-top: 27%;
		margin-bottom: 2%;
		margin-left: 27%;
		text-align: left;
	}

	.p-1 {
		@extend .carousel-p;
		width: 100%;
		margin-bottom: 3%;
		margin-left: 27%;
	}
}

.info-2 {
	@extend .layover;
	left: 50%;

	.cap-2 {
		@extend .carousel-cap;
		float: right;
		width: 100%;
		margin-top: 23%;
		margin-bottom: 2%;
		margin-right: 25%;
		text-align: right;
	}

	.p-2 {
		@extend .carousel-p;
		float: right;
		width: 70%;
		margin-bottom: 3%;
		margin-right: 25%;
		text-align: right;
	}
}

.info-3 {
	@extend .layover;
	left: 0%;

	.cap-3 {
		@extend .carousel-cap;
		width: 100%;
		margin-top: 23%;
		margin-bottom: 2%;
		margin-left: 24%;
		text-align: left;
	}

	.p-3 {
		@extend .carousel-p;
		width: 100%;
		margin-bottom: 3%;
		margin-left: 24%;
	}
}

// Site dev alert 

.alert {
	font-size: 15px;

	@media screen and (max-width: 433px) {
		font-size: 12.5px;
	}
}