@import 'globals';

.jumbotron {
    margin-bottom: -2% !important;
}

#top-img {
    width: 100%;
}

.layover {
    width: 100% !important;
}

#top-h {
    @include scale-config(650px,9vw,7vw);
    width: 100%;
    margin-top: 17%;
    font-family: $nice-font;
    text-align: center;
}

.small-info {
    @include scale-config(767px,4vw, 6.2vw);
    margin-top: 16%;
    margin-left: 2%;

    @media screen and (max-width: 767px) {
        width: 75%;
        margin: 5% auto;
	}
}

.center-h {
    @include scale-config(650px,5vw, 5vw);
    margin-bottom: 5%;
}

.previews-row {
    margin-bottom: 9%;
}

.preview-h {
    margin-left: 4%;
    margin-top: 3%;
}