/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Patua+One");
.red {
  background: red; }

.blue {
  background: blue; }

.green {
  background: green; }

.yellow {
  background: yellow; }

.purple {
  background: purple; }

.row {
  padding-right: 0px;
  margin-right: 0px; }

.white-text {
  color: white; }

.black-text {
  color: black; }

.primary-col {
  color: #ff7518; }

.nice {
  font-family: "Patua One"; }

.oomph {
  font-weight: bold; }

.center-h {
  width: 100%;
  text-align: center; }

.easy-read {
  background-color: black !important;
  text-shadow: none !important;
  -moz-box-shadow: 0 0 16px black !important;
  -webkit-box-shadow: 0 0 16px black !important;
  box-shadow: 0 0 16px black !important; }

.auto-scale, .left-info, .right-info {
  font-size: 6vw;
  font-family: "Montserrat";
  line-height: 1.428; }
  @media screen and (max-width: 650px) {
    .auto-scale, .left-info, .right-info {
      font-size: 8vw; } }

.layover {
  position: absolute;
  bottom: 0%;
  top: 0%;
  width: 50%;
  z-index: 20;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  text-align: left;
  color: #ff7518; }

.left-info {
  width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 7%;
  color: black;
  font-size: 4.5vw;
  font-family: "Montserrat";
  text-align: left !important; }
  @media screen and (max-width: 991px) {
    .left-info {
      margin-left: 15%;
      margin-right: 5%;
      width: 70%;
      font-size: 5.5vw; } }

.right-info {
  width: 70%;
  margin: auto;
  margin-top: 6%;
  margin-bottom: 11%;
  color: black;
  text-align: right; }

.top {
  padding-top: 60px; }

.img-strip {
  width: 100%;
  margin: 4% 0;
  -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5); }

.shadowed {
  -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5); }

.full-width {
  width: 100%;
  padding: 0;
  margin: 0; }

.side-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .side-list li {
    display: inline-block; }

a.no-line:hover {
  text-decoration: none; }

.jumbotron {
  margin-bottom: -2% !important; }

#top-img {
  width: 100%; }

.layover {
  width: 100% !important; }

#top-h {
  font-size: 9vw !important;
  font-family: "Montserrat";
  width: 100%;
  margin-top: 17%;
  font-family: "Patua One";
  text-align: center; }
  @media screen and (max-width: 650px) {
    #top-h {
      font-size: 7vw !important; } }

.small-info {
  font-size: 4vw !important;
  font-family: "Montserrat";
  margin-top: 3%;
  margin-left: 2%; }
  @media screen and (max-width: 650px) {
    .small-info {
      font-size: 3vw !important; } }

.center-h {
  font-size: 5vw !important;
  font-family: "Montserrat";
  margin-bottom: 3%; }
  @media screen and (max-width: 650px) {
    .center-h {
      font-size: 4vw !important; } }

.preview-h {
  margin-left: 4%;
  margin-top: 3%; }

/*# sourceMappingURL=projects-intro.css.map */
