/* Scss Document */
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Patua+One");
.nice {
  font-family: "Patua One"; }

ul.side-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.side-list li {
    display: inline; }

a.no-line:hover {
  text-decoration: none; }

#myCarousel {
  padding-top: 60px; }

.arrow {
  position: absolute;
  top: 50%; }

.oomph {
  font-family: "Patua One"; }

div.carousel-div, #info-1, #info-2, #info-3 {
  position: absolute;
  bottom: 0%;
  top: 0%;
  width: 50%;
  z-index: 20;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  text-align: left;
  color: #f48657; }

.carousel-cap, #info-1 #cap-1, #info-2 #cap-2, #info-3 #cap-3 {
  position: absolute;
  color: #f48657; }

.easy-read {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: none;
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4); }

#info-1 {
  left: 50%; }
  #info-1 #cap-1 {
    left: 20%;
    bottom: 27%;
    text-align: left; }
  #info-1 #p-1 {
    position: absolute;
    left: 20%;
    bottom: 10%;
    width: 50%;
    color: white; }

#info-2 {
  left: 0%; }
  #info-2 #cap-2 {
    left: 30%;
    bottom: 22%;
    text-align: left; }
  #info-2 #p-2 {
    position: absolute;
    left: 30%;
    bottom: 10%;
    width: 50%;
    color: white; }

#info-3 {
  width: 70%;
  left: 0%; }
  #info-3 #cap-3 {
    left: 15%;
    bottom: 22%;
    width: 100%;
    text-align: left; }
  #info-3 #p-3 {
    position: absolute;
    left: 15%;
    bottom: 10%;
    width: 60%;
    color: white; }

#list-h {
  margin-left: -42%;
  margin-top: 10%;
  margin-bottom: -3%;
  text-align: center; }
  @media screen and (max-width: 767px) {
    #list-h {
      margin: auto;
      margin-bottom: 5%;
      width: 50%; } }

.ul-centered {
  padding-top: 5%;
  padding-right: 5%;
  margin: auto;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  list-style-type: none;
  font-family: "Patua One"; }
  @media screen and (max-width: 767px) {
    .ul-centered {
      padding-left: 2%;
      padding-top: 0;
      padding-right: 2%;
      padding-bottom: 10%; } }
  .ul-centered li {
    padding: 3%;
    width: 100%;
    float: left;
    text-align: left; }
    @media screen and (max-width: 767px) {
      .ul-centered li {
        display: inline;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 0;
        padding-bottom: 0;
        width: 50%;
        float: left;
        text-align: center; } }

#make-div {
  padding-left: 10%;
  padding-top: 7%;
  padding-right: 7%;
  padding-bottom: 5%; }

.row.is-flex {
  display: flex;
  flex-wrap: wrap; }

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column; }

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.about-col {
  margin-bottom: 5%; }

#about-h {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 3%;
  width: 70%;
  text-align: center; }

.rounded-img {
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 50%; }

.personal-h {
  margin: auto;
  margin-bottom: 5%;
  width: 50%;
  text-align: center; }

.personal-p {
  margin: auto;
  margin-bottom: 20%;
  width: 70%;
  text-align: center; }
  @media screen and (max-width: 1199px) {
    .personal-p {
      padding-top: 5%;
      text-align: left; } }

.personal-socials {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }
  .personal-socials a {
    padding-right: 5%; }

#support-div {
  padding: 7%; }

#support-h {
  margin-bottom: 3%; }

#support-p {
  margin-bottom: 5%; }

/*# sourceMappingURL=index.css.map */
