<template>
    <require from="projects.css"></require>

    <div class="jumbotron">
		<img id="top-img" src="resources/projects-intro.jpg" alt="working on our projects">
		<div class="layover">
			<h1 id="top-h" class="auto-scale easy-read">We're Makers.</h1>
		</div>
	</div>

	<div class="right-info">
		<h1 class="black-text plain">We learn<br>new skills<br>by doing <span class="primary-col">projects</span><br>
		which use them.</h1>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<img class="full-width" src="resources/blu-messy.jpg" alt="working on our 3D printer">
		</div>
		<div class="col-sm-6">
			<h2 class="black-text plain small-info"><span class="primary-col oomph">100%</span> knowledge used<br>
				<span class="primary-col oomph">100%</span> of the time</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6 col-sm-push-6">
			<img class="full-width" src="resources/cat-tall.jpg" alt="working on our 3D printer">
		</div>
		<div class="col-sm-6 col-sm-pull-6">
			<h2 id="longer-small-info" class="black-text right-text plain small-info">Tremendous opportunities<br>for <span class="primary-col">creative<br>expression</span></h2>
		</div>
	</div>

	<div class="left-info">
		<p class="auto-scale quote">In the real world, skills are not isolated. By actually making things, we get a package of skills
			</span> that can be used collectively for a practical purpose.<br>
			<span class="primary-col">Mika Yeap</span></p>
	</div>

	<h1 id="previews-title" class="auto-scale center-h"><span class="primary-col nice">Curious?<br>Jump right to the details!<br>(coming soon)</span></h1>

	<div class="container">
		<div class="row previews-row">
			<div class="col-md-6">
				<img class="full-width shadowed" src="resources/blu-dark-strip.jpg" alt="BLU, our 3D printer">
				<div class="layover">
					<h3 class="auto-scale preview-h"><span class="nice">BLU</span></h1>
				</div>
			</div>
			<div class="col-md-6">
				<img class="full-width shadowed" src="resources/camo-map-strip.jpg" alt="plans for Project CaMo">
				<div class="layover">
					<h3 class="auto-scale preview-h"><span class="nice">CaMo</span></h1>
				</div>
			</div>
		</div>
	</div>
</template>